.bottles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.cart-container img {
  width: 200px;
}

@media screen and (max-width: 576px) {
  .bottles-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .bottles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
